.header {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 5rem;

  z-index: 20;

  box-sizing: border-box;

  background: linear-gradient(
    160deg,
    rgba(25, 25, 25, 0.3),
    rgba(35, 35, 35, 0)
  );
}

.logo {
  width: 100px;
  filter: brightness(0) invert(1);
}

.navLinks {
  display: flex;

  color: white;

  font-size: 24px;

  align-items: center;

  gap: 3rem;

  list-style: none;

  margin: 0;
  padding: 0;
}

.navLinks a {
  text-decoration: none;

  color: white;

  position: relative;

  transition: 0.3s;
}

.navLinks a::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -6px;

  width: 0;

  height: 2px;

  background: white;

  transition: 0.3s;
}

.navLinks a:hover::after {
  width: 100%;
}

.navLinks a:visited {
  color: inherit;
}
